<div class="header">
  <div class="nav">
    <div class="logo" [routerLink]="[ '/index']" >
      <img src="assets/imgs/xueqiu.png" alt="" srcset="" />
      <img src="assets/imgs/xueqiuzi.png" alt="" srcset="" />
    </div>
    <div class="nav-list">
      <div class="nav-item" [routerLink]="['/recommand']" routerLinkActive="active">Home</div>
      <div class="nav-item" [routerLink]="['/filter']" routerLinkActive="active">Stock Filter</div>
      <!-- <div class="nav-item" [routerLink]="['/newstock']" routerLinkActive="active"> New Stock</div> -->
    </div>
    <div class="search">
      <input type="text" placeholder="Search something..."/>
      <span class="search-icon"></span>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
