<div class="day-info">
  <div class="current-time">
    <span class="day">{{currentTime | date:"dd"}}日</span>
    <span class="month">{{currentTime | date:"MM"}}月</span>
  </div>
  <div class="info-list">
    <div class="info-item" *ngFor="let item of dayInfoList">
      <div class="info-left">
        <p class="info-time">{{item.created_at | time | date:"MM-dd "}}</p>
      </div>
      <span>
        <span class="AnonymousHome_point_39K"></span>
        <span class="AnonymousHome_line_22U"></span>
      </span>

      <div class="info-right">
        <p class="info">{{item.text}}</p>
      </div>
    </div>

  </div>
</div>
